* p {
  color: #E29F8C;
  background: transparent;
  font-size: 0.8em;
  font-weight: 1px;
padding-bottom:10px;
}
.foot-container {
  display: block;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  background: #0F141D;;
  width: 100vw;
  padding-bottom: 50px;
  margin-top: 20px;
}
.foot-container * {
  background: #0F141D;
}
.foot-container p{
  padding-bottom:20px;
}
.nav-mobile-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  background: #0F141D;
  overflow-x: scroll;
  width: 100vw;
  margin-bottom:15px;
}
.flex{
  display:grid;
}
.nav-mobile-container * {
  width: 30vw;
  /* text-decoration:none; */
  transition: 0.2s;
}
.nav-mobile-container a{
  padding-bottom: 20px;
  border-bottom:none;
  margin-left:20px;
}
.nav-mobile-container a:hover{
  transition: 0.2s;
  padding-top:20px;
  border-bottom:2px solid #E29F8C;
}
.nav-mobile-container .active{
  transition: 0.2s;
  padding-top:20px;
  border-bottom:2px solid #E29F8C;
}
h5:hover{
  color: #E29F8C;
}
@media screen and (min-width: 1000px) {
  .nav-mobile-container {
    display: none;
  }
}
